@import './variable.scss';
#app {
    position: relative;
    height: 100vh;
}

.chatRoom {
    position: relative;
    margin-left: 20%;
    height: 100%;
}

.content{
    height: calc( 100% - 80px);
}

